<%= form_for [@post, @comment] do |f| %>
<%= render 'shared/errors', obj: @comment %>
  <div class="comment-form field">
    <%= f.text_field :body, placeholder: "Comment here", class:'comment-form' %>
  </div>
<% end %>


