 <div class="comments row">        
        <div class="main-comment row">
          <table>
           <tbody id="comments">
             <%= render @comments %>
           </tbody>       
        </table>      
      </div>
    </div><!--  comments form and comments -->